@media screen and (min-device-width: 481px) {
    #guarantee {
        margin-right: 250px;
    }
}

@media screen and (max-device-width: 480px) {
    #guarantee {
        margin-right: 30px;
    }
}

@media print {
    body {
        font-family: Times 'Times New Roman', Times, serif;
    }
}
body {
    font-size: small;
    font-family: Verdana, Helvita, Arial, sans-serif;
}

h1, h2 {
    color: lightblue;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

#guarantee {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: #a7cece;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
    /* border-top-color: black;
    border-top-style: dashed;
    border-top-width: thick; */
    border-style: dashed;
    border-width: thick;
    border-color: white;
    border-radius: 15px;
}

#elixrs {
    border-width: thin;
    border-style: solid;
    border-color: #007e7e;
    width: 200px;

    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    margin-left: 20px;
    
    text-align: center;

    background-image: url(/Week3/lab3/images/cocktail.gif);
    background-repeat: repeat-x;

    line-height: 1em;
    
    float: right;
}

#elixrs h2 {
    color: black;
}

#elixrs h3 {
    color: #d12c47;
}

.cd {
    font-style: italic;
}

.artist {
    font-weight: bold;
}

#elixrs a:link {
    color: #007e7e;
}

#elixrs a:visited {
    color: #333333;
}

#elixrs a:hover {
    background: #f88396;
    color: #0d5353;
}